In [1]:
age = [20, 22, 25, 25, 27, 27, 27, 29, 30, 31, 121]

In [2]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
data = {"D1":[135, 137, 136, 138, 138],
              "D2":[43,   42, 42, 42, 42],
              "D3":[72, 73, 72, 72, 73],
              "D4":[100, 102, 100, 103, 104]};

In [6]:
df = pd.DataFrame(data)

In [7]:
df

    D1  D2  D3   D4
0  135  43  72  100
1  137  42  73  102
2  136  42  72  100
3  138  42  72  103
4  138  42  73  104

In [8]:
df.mean()

D1    136.8
D2     42.2
D3     72.4
D4    101.8
dtype: float64

In [9]:
df["D2"].mean()

42.2

In [11]:
df["D3"].mean()

72.4

In [12]:
df["D1"].mode()

0    138
dtype: int64

In [13]:
df["D4"].median()

102.0

### Dispersion

In [14]:
age = [20, 22, 25, 25, 27, 27, 27, 29, 30, 31, 121]

In [15]:
np.std(age)

27.400910885504736

In [16]:
np.max(age) -np.min(age)

101

In [17]:
np.var(age)

750.809917355372

In [18]:
np.std(age)**2

750.8099173553719

In [30]:
from scipy import stats

In [20]:
iqr(age)

4.5

In [22]:
np.percentile(age, 25)  # this gives Q1 for IQR

25.0

In [23]:
np.percentile(age, 75) # this gives Q3 for IQR

29.5

In [26]:
np.percentile(age, 50) #his gives Q2 for IQR

27.0

In [27]:
np.median(age)

27.0

In [31]:
stats.kurtosis(age)

5.876609699981859

In [33]:
stats.skew(age)

2.778572264050739